{% if segment.getFlash('status') %}
<div id="divAlertStatus" class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success</h4>
    <p class="small mb-0">{{ segment.getFlash("status") }}</p>
</div>
{% endif %} {% if segment.getFlash('error') %}
<div
    id="divAlertError"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
>
    <h4 class="alert-heading">Error</h4>
    <p class="small mb-0">{{ segment.getFlash("error") }}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
